<div class="card flex justify-between">
  <p-select-button
    unselectable
    [options]="sheetNames()"
    (onChange)="selectSheet($event, tableHeaderSelect, tableRowSelect)"
  />

  <div class="flex items-center gap-2">
    <p-select
      #tableHeaderSelect
      [options]="tableHeaderOptions()"
      placeholder="Group by"
      class="w-full md:w-40"
      [disabled]="!view"
      (onChange)="groupView($event)"
    />

    <p-select
      #tableRowSelect
      [options]="view"
      [optionLabel]="this.selectedColumnId()"
      placeholder="Select row"
      class="h-full w-full md:w-40"
      [disabled]="!selectedColumnId()"
      (onChange)="selectRow($event)"
    />

    <p-button
      [disabled]="!selectedColumnId()"
      label="Add new row"
      severity="secondary"
      (onClick)="addNewRow(tableRowSelect)"
    />
  </div>
</div>

@if (selectedRow) {
  <div class="card flex flex-col gap-2">
    @for (cell of tableHeadersMap | keyvalue: null; track cell.key) {
      <p-floatlabel variant="in">
        <textarea
          pTextarea
          [id]="cell.key"
          [(ngModel)]="selectedRow[cell.key]"
          rows="1"
          autoResize
          [ngClass]="{ 'p-filled': !!selectedRow[cell.key] }"
          class="w-full"
        ></textarea>

        <label [for]="cell.key">{{ tableHeadersMap.get(cell.key) }}</label>
      </p-floatlabel>
    }

    <div class="flex flex-row justify-center">
      <p-button
        label="Save file"
        icon="pi pi-save"
        outlined
        (onClick)="saveFile($event)"
      />
    </div>
  </div>
}

<p-confirm-dialog />
